[Unit]
Description=neon image rsync daemon

[Service]
ExecStart=/home/neon-image-syncd/bin/neon-image-syncd
User=neon-image-syncd
Group=neon-image-syncd
Restart=always

[Install]
WantedBy=default.target
